In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [15]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

In [17]:
tr_elements = doc.xpath('//tr')
col=[]
i=0
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:%s'%(i,name))
    col.append((name,[]))

1:Postcode
2:Borough
3:Neighbourhood

In [18]:
for j in range(1,len(tr_elements)):
    T=tr_elements[j]
    if len(T)!=3:
        break
    i=0
    for t in T.iterchildren():
        data=t.text_content() 
        if i>0:
            try:
                data=int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1

In [20]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [21]:
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [23]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)
df = df.reset_index(drop=True)
df.head(10)

  Postcode           Borough     Neighbourhood\n
0      M3A        North York         Parkwoods\n
1      M4A        North York  Victoria Village\n
2      M5A  Downtown Toronto      Harbourfront\n
3      M5A  Downtown Toronto       Regent Park\n
4      M6A        North York  Lawrence Heights\n
5      M6A        North York    Lawrence Manor\n
6      M7A      Queen's Park      Not assigned\n
7      M9A         Etobicoke  Islington Avenue\n
8      M1B       Scarborough             Rouge\n
9      M1B       Scarborough           Malvern\n

In [27]:
df = df.groupby(['Postcode', 'Borough'], sort = False).agg(','.join)
df.reset_index(inplace = True)
df.head(5)

  Postcode           Borough                      Neighbourhood\n
0      M3A        North York                          Parkwoods\n
1      M4A        North York                   Victoria Village\n
2      M5A  Downtown Toronto         Harbourfront\n,Regent Park\n
3      M6A        North York  Lawrence Heights\n,Lawrence Manor\n
4      M7A      Queen's Park                       Not assigned\n

In [28]:
df = df.replace('\n',' ', regex=True)
df.head()

  Postcode           Borough                    Neighbourhood\n
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront ,Regent Park
3      M6A        North York  Lawrence Heights ,Lawrence Manor
4      M7A      Queen's Park                      Not assigned

In [30]:
df.replace("Not assigned", "Queen's Park")
df.head()

  Postcode           Borough                    Neighbourhood\n
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront ,Regent Park
3      M6A        North York  Lawrence Heights ,Lawrence Manor
4      M7A      Queen's Park                      Not assigned

In [31]:
df.shape

(103, 3)